<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <script src="{% static 'js/app.js' %}"></script>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <div class="navbar_option"><li><a href="{% url 'menu:index' %}">Home</a></li></div>
        <div class="navbar_option"><li><a href="{% url 'menu:search' %}">Search</a></li></div>
        <div class="navbar_option"><li><a href="{% url 'login:logout' %}">Logout</a></li></div>
      </ul>
    </div>
    <div  id="profile">
      <h1>Welcome {{user.first_name}}!</h1>
      <a href="{% url 'menu:update_profile' user.id %}">Edit Profile</a>
    </div>
    <div id="filter_sec">
      <div id="filter_contents">
        Filter By Category: <select name="filter_category" id="filter">
            <option value="all" id="all_cat">All</option>
          {% for category,recipe in recipes %}
            {% if category != "" %}
              <option value="{{category}}">{{category}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div>
      {% for category,recipes in recipes %}
        <div id="{{category}}" class="category">
          <div class="divider" id="divider{{category}}">
          </div>
          <h2>{{category}}<h2>
            {% for recipe in recipes %}
                <div class="result">
                  <div class="content">
                  <img src='../static/images/heart.png' alt="image" class="fave_img" id="fave_img_{{recipe.api_id}}"/>
                  <p class="to_fave" id="{{recipe.api_id}}" hidden="true">Favorite This</p>
                  <div class="image">
                    <a href="{% url 'menu:recipe' recipe.id %}" target="_blank"><img src={{recipe.photo}} alt="image" class="result_img" onerror="this.onerror=null;this.src='../static/images/default.jpg';"/></a>
                  </div>
                  <h4>{{recipe.name}}</h4>
                  <a href="{{recipe.recipe_link}}" target="_blank">{{recipe.publisher}}</a>
                  <p class="ingredient_show" id="ingredient_{{recipe.api_id}}">Show Ingredients</p>
                  <div class="ingredients" id="ingredients_all_{{recipe.api_id}}">
                    {% for ingredient in ingredients %}
                      {% if ingredient in recipe.ingredients.all %}
                        <p>{{ingredient.ingredient}}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <form action="{% url 'menu:favorite' %}" method="post" id="fave_form">
      {% csrf_token %}
    </form>
    <form action="{% url 'menu:unfavorite' %}" method="post" id="unfave_form">
      {% csrf_token %}
    </form>
  </body>
</html>
