<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="{% url 'menu:index' %}">Home</a></li>
        <li><a href="{% url 'menu:profile' user %}">Profile</a></li>
        <li><a href="{% url 'menu:search' %}">Search</a></li>
        <li><a href="{% url 'login:logout' %}">Logout</a></li>
      </ul>
    </div>
    <div id="recipe">
      <div class="image">
        <a href="{% url 'menu:recipe' recipe.id %}" target="_blank"><img src={{recipe.photo}} alt="image" class="recipe_img"/></a>
      </div>
      <div class="recipe_info">
        <h2>{{recipe.name}}</h2>
        <h3><a href="{{recipe.recipe_link}}" target="_blank">{{recipe.publisher}}</a></h3>
        <div class="ingredients" id="ingredients_{{recipe.api_id}}">
          {% for ingredient in recipe.ingredients.all %}
            <p>{{ingredient.ingredient}}</p>
          {% endfor %}
      </div>
    </div>
  </body>
</html>
